p , h1{
    height: 30px;
    background-color: blueviolet;
    display: inline;
    color: white;
}
span {
    display: block;
}
#harry{
    background-color: rgb(255, 187, 0);
}
#horm{
    background-color: rgb(81, 255, 0);
}
#whe{
    background-color: rgb(255, 0, 0);
}
div{
    height:100px;
    width: 100px;
    
    margin: 10px;
    display: inline-block;
}
#is{
    height: 30px;
    background-color: hsla(181, 100%, 41%, 0.3);
}
@media(max-width:300px){
    #media{background-color: green;}
}
@media(min-width:300px) and (max-width:400px){
    #media2{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    #media3{
        background-color: rgb(114, 20, 35);
    }
}
@media(min-width:600px){
    #media4{
        background-color: blue;
    }
}