div{
    text-align: center;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    text-transform: capitalize;
    font-weight: 400px;
    font-size: 20px;
    border: 2.5px solid;
    display: inline-block;
    
}
body{
    background-image: url(https://plus.unsplash.com/premium_photo-1743169791428-2d1b1a8e518f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
    background-repeat:no-repeat;
}
#one {
    background-color: coral;
    position: static;
}
#two{
    background-color: pink;
    position: relative;
    top: 20px;
    left: 30px;
}
#three{
    background-color:darkcyan;
    position: absolute;
    right: 50px;
    top: 100px;

}
#four{
    background-color: orange;
    position: fixed;
}
#five{
    background-color: blueviolet;
    position: sticky;
    top: 150px;
}
#six{
    background-color: darkslateblue;
    
}
#seven{
    background-color: deeppink;
    position: relative;
    right: 100px;
    top: 50px;
    z-index: 2;
}
#eight{
    background-color: greenyellow;
    position: relative;
    top: 140px;
    right: 200px;
    
}
