#aladin{
    height: 100px;
    width: 100px;
    background-color:rgb(255, 106, 65);
}
#genie{
    height:50px ;
    background-color: blue;
    width: 50%;
}
#ben{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    font-size: 10px;
}
#ten{
    height: 50%;
    width: 50% ;
    background-color: crimson;
    font-size:2em;
}
#viewport{
    height: 50vh;
    width: 50vw;
    background-color: rgb(255, 0, 140);
}